- title "Users"

.right
  %p.clear
    To set your user image, visit <a href="http://gravatar.com/">gravatar.com</a>

  %hr/  

%table.users.horizontal
  %tr
    %th &nbsp;
    %th= link_to 'Name',       users_path(:order => 'name')
    %th  Email
    %th= link_to 'Hungriness', users_path(:order => 'hungriness')
    %th= link_to 'Is Local',   users_path(:order => 'usage')
  - for user in @users
    %tr.hcard
      %td.photo=        image_tag avatar_url(user)
      %td.fn.n=         link_to_rsrc user
      %td.email=        user.email
      %td.hungriness=   user.orders.count
      %td.local=        user.is_local

.buttons
  - if user_signed_in?
    %p
      To create a new user,
      = link_to "sign out", destroy_user_session_path
      and then go through the signup process
  - else
    = link_to "New user", new_user_registration_path, :class => :button

    
