- title "Users"

%table.vertical.user
  %tr
    %th         Name
    %td.td_12=  @user.name
    %td.td_5.photo{:rowspan => 4 }
      = image_tag avatar_url(@user, :s => 200)
      %br/
      %span.quiet
        Set your image at <a href="http://gravatar.com/">gravatar.com</a>
  %tr
    %th         Email
    %td=        @user.email
  %tr
    %th         Local?
    %td=        @user.is_local ? "Works in office" : "Only occasionally orders"
  %tr
    %td.empty   &nbsp;
    
%table.horizontal.orders
  %tr
    %th.td_4    Meal
    %th.td_4    Restaurant
    %th.td_17   Order
  - @user.orders.each do |order|
    %tr
      %td= link_to_rsrc order.meal
      %td= order.meal.restaurant_name if order.meal
      %td= link_to order.description, [order.meal, order]
      
      
