- title "Change your password"

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  %fieldset
    = devise_error_messages!
    = f.hidden_field     :reset_password_token
    %legend= @title
    .form_input
      = f.label          :password
      = f.password_field :password
    .form_input
      = f.label          :password_confirmation
      = f.password_field :password_confirmation
    .buttons= f.submit "Change my password"

= render :partial => "devise/shared/links"
