- freeze_user_id ||= false
- orderer_str = case when freeze_user_id && user_signed_in? && (@order.user_id == current_user.id) then " for you" when freeze_user_id && @order.user then " for " + @order.user.name else "" end
- flash[:notice] = raw("You have a current order for this meal -- #{link_to "click here", [@meal, @current_user_order]} to edit it") if @current_user_order

= form_for [@meal, @order] do |f|
  %fieldset.order
    = f.error_messages
    %legend== Order#{orderer_str} from #{@meal.restaurant.titleize} on #{link_to_rsrc @meal}
    - if freeze_user_id
      = f.hidden_field   :user_id
    - else
      .form_input
        = f.label      :user_id
        = f.select("user_id", User.alphabetically.map{|u| [ u.name, u.id ] })
    .form_input
      = f.label      :description
      = f.text_area  :description
    .form_input
      = f.label      :price
      = f.text_field :price
    .buttons
      = f.submit
      .right
        = link_to "View all orders for this meal",   @meal
        - if not @order.new_record?
          &middot;
          = link_to "Delete this order", [@meal, @order], :confirm => 'Are you sure?', :method => :delete 
