= form_for [@meal, @order] do |f|
  %fieldset.order
    = f.error_messages
    %legend= @title
    .form_input
      = f.label      :user_id
      = f.select("user_id", User.alphabetically.map{|u| [ u.name, u.id ] })
    .form_input
      = f.label      :description
      = f.text_area  :description
    .form_input
      = f.label      :price
      = f.text_field :price
    .buttons
      = f.submit
