= form_for @meal do |f|
  %fieldset
    = f.error_messages
    %legend= @title
    .form_input
      = f.label :restaurant_id
      = f.select("restaurant_id", Restaurant.by_timeliness.map{|r| [ r.name, r.id ] }, {:prompt => '-- (restaurant) --'})
      (changing the restaurant will remove all orders)
    .form_input    
      = f.check_box :done
      = f.label :done, 'Ordering is complete', :style => 'display: inline'
    .buttons
      = f.submit
      - if @meal.restaurant.present?
        .right
          = link_to "Delete this meal", @meal, :confirm => 'Are you sure?', :method => :delete 
