= form_for @meal do |f|
  %fieldset
    = f.error_messages
    %legend= @title
    .form_input
      = f.label :restaurant_id
      = f.select("restaurant_id", Restaurant.alphabetically.map{|r| [ r.name, r.id ] }, {:prompt => '-- (restaurant) --'})
    .buttons
      = f.submit
      - if @meal.restaurant.present?
        .right
          = link_to "Delete this meal", @meal, :confirm => 'Are you sure?', :method => :delete 
