- title "Meal"

%p
  %strong Ordered On:
  = @meal.ordered_on
%p
  %strong Restaurant:
  = @meal.restaurant_id

%p
  = link_to "Edit", edit_meal_path(@meal)
  |
  = link_to "Destroy", @meal, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", meals_path
