- title @meal.titleize

%h2
  = @meal.titleize
  from 
  = link_to_rsrc @meal.restaurant
  == ~~ 
  %span= link_to 'website', @meal.restaurant.url
  &middot;
  %span= link_to 'menu',    @meal.restaurant.menu_url
  &middot;
  %span= link_to 'review',  @meal.restaurant.review_url

%hr/

.meal
  - if user_signed_in?
    - @order = @meal.orders.for_user(current_user).first || @meal.orders.build(:user_id => current_user.id)
    = render :partial => '/orders/form', :locals => { :freeze_user_id => true, :hide_link_to_meal => true }

%hr/

%table.orders.horizontal
  %tr
    %th.td_3  Name
    %th.td_2  Price
    %th.td_3  &nbsp;
    %th.td_16 Description      
  - User.orderers_for(@meal).each do |user|
    - order = @meal.orders.for_user(user).first 
    %tr
      %td.user=          link_to_rsrc user
      - if order
        %td.price=       number_to_currency(order.price)
        %td=             link_to 'edit order', edit_meal_order_path(@meal, order)
        %td.description= order.description
      - else
        %td.price        &nbsp;
        %td=             link_to 'place order', new_meal_order_path(@meal, order, :user_id => user.id)
        %td              &nbsp;

%hr.spacer/

.buttons
  = link_to "Change restaurant", edit_meal_path(@meal), :class => 'button small white grid_4'
  %span  (will remove all orders)
