- title @meal.titleize
- @restaurant = @meal.restaurant

%h2
  = @meal.titleize
  from 
  = link_to_rsrc @meal.restaurant
  == ~~ 
  %span= link_to 'website', @meal.restaurant.url
  &middot;
  %span= link_to 'menu',    @meal.restaurant.menu_url
  &middot;
  %span= link_to 'review',  @meal.restaurant.review_url

%table.vertical.restaurant.has_ratings
  %tr
    %th         Name
    %td.td_12=  @restaurant.name
    %td         Your rating:
    %td.td_3.ratings= ratings_for @restaurant, :show_user_rating => true
  %tr
    %th         Phone
    %td=        @restaurant.phone
    %td         Overall rating:
    %td.td_3.ratings= ratings_for @restaurant, :static
  %tr
    %th         Links
    %td=        restaurant_links(@restaurant)
    %td=        delivery_status(@restaurant)       
    - if @restaurant.tip_percent.to_i > 0
      %td
        tip
        =      @restaurant.tip_percent
    - else
      %td &nbsp;
  %tr
    %th         Address
    %td=        @restaurant.address
    %td{ :colspan => 2}
      =        @restaurant.note
  - if @restaurant.discount_percent.to_i > 0
    %tr
      %th       Discount Percent
      %td=      @restaurant.discount_percent
  
%hr/

.meal
  - if user_signed_in?
    - @order = @meal.orders.for_user(current_user).first || @meal.orders.build(:user_id => current_user.id)
    = render :partial => '/orders/form', :locals => { :freeze_user_id => true, :hide_link_to_meal => true }

%hr/

= render '/orders/orders'

%hr.spacer/

.buttons
  = link_to "Change restaurant", edit_meal_path(@meal), :class => 'button small white grid_4'
  %span  (will remove all orders)
