- title @meal.titleize

%h2
  = @meal.titleize
  from 
  = link_to_rsrc @meal.restaurant
  == ~~
  = restaurant_links(@meal.restaurant)

= render '/restaurants/restaurant', :restaurant => (@restaurant = @meal.restaurant)
  
%hr/

.meal
  - if user_signed_in?
    - @order = @meal.order_for_user(current_user)
    = render :partial => '/orders/form', :locals => { :freeze_user_id => true, :hide_link_to_meal => true }

%hr/

= render '/orders/orders'

.buttons
  = link_to "Order for Someone Else", new_meal_order_path(@meal), :class => 'button medium grid_5 clear'
  - if @meal.done
    accidentally hit the done button? hit "edit meal".
  - else  
    = link_to "DONE ORDERING",               meal_done_path(@meal), :class => 'button medium grid_5 warning'
  = link_to "Edit Meal",      edit_meal_path(@meal),      :class => 'button medium grid_5 white'
%br.clear/
