- title @meal.titleize

%h2
  = @meal.titleize
  from 
  = link_to_rsrc @meal.restaurant
  == ~~
  = restaurant_links(@meal.restaurant)

= render '/restaurants/restaurant', :restaurant => (@restaurant = @meal.restaurant)
  
%hr/

.meal
  - if user_signed_in?
    - @order = @meal.orders.for_user(current_user).first || @meal.orders.build(:user_id => current_user.id)
    = render :partial => '/orders/form', :locals => { :freeze_user_id => true, :hide_link_to_meal => true }

%hr/

= render '/orders/orders'

%hr.spacer/

.buttons
  = link_to "Change restaurant", edit_meal_path(@meal), :class => 'button small white grid_4'
  %span  (will remove all orders)
