- title @meal.titleize

%h2
  = @meal.titleize
  from 
  = link_to_rsrc @meal.restaurant
  == ~~
  = restaurant_links(@meal.restaurant)

= render '/restaurants/restaurant', :restaurant => (@restaurant = @meal.restaurant)
  
%hr/

.meal
  - if @meal.done
    .span{ :style => 'font-size: 1.5em; color: #955; font-style: italic' }
      Ordering is complete -- see the lunchmeister to plead for grace.
  - elsif user_signed_in?
    - @order = @meal.orders.for_user(current_user).first || @meal.orders.build(:user_id => current_user.id)
    = render :partial => '/orders/form', :locals => { :freeze_user_id => true, :hide_link_to_meal => true }

%hr/

= render '/orders/orders'

.buttons
  = link_to "Order for Someone Else", new_meal_order_path(@meal), :class => 'button medium grid_5 clear'
  - if @meal.done
    accidentally hit the done button? hit "edit meal".
  - else  
    = link_to "DONE ORDERING",               meal_done_path(@meal), :class => 'button medium grid_5 warning'
  = link_to "Edit Meal",      edit_meal_path(@meal),      :class => 'button medium grid_5 white'
%br.clear/
