= form_for @restaurant do |f|
  %fieldset
    = f.error_messages
    %legend= @title
    .form_input
      = f.label      :name
      = f.text_field :name
    .form_input
      = f.label      :phone
      = f.text_field :phone
    .form_input
      = f.label      :url
      = f.text_field :url
    .form_input
      = f.label      :menu_url
      = f.text_field :menu_url
    .form_input
      = f.label      :review_url
      = f.text_field :review_url
    .form_input
      = f.label      :address
      = f.text_area  :address, :cols => 10, :rows => 5
    .form_input
      = f.label      :note
      = f.text_area  :note
    .form_input
      = f.label      :delivers
      = f.check_box  :delivers
    .form_input
      = f.label      :delivery_fee
      = f.text_field :delivery_fee
    .form_input
      = f.label      :tip_percent
      = f.text_field :tip_percent
    .form_input
      = f.label      :discount_percent
      = f.text_field :discount_percent
    .form_input
      = f.submit
