= form_for @restaurant do |f|
  %fieldset.restaurant
    = f.error_messages
    %legend= @title
    .form_input
      = f.label      :name
      = f.text_field :name
    .form_input
      = f.label      :phone
      = f.text_field :phone
    .form_input.url
      = f.label      :url
      = f.text_field :url,        :size => '60'
    .form_input.url
      = f.label      :menu_url
      = f.text_field :menu_url,   :size => '60'
    .form_input.url
      = f.label      :review_url
      = f.text_field :review_url, :size => '60'
    .form_input.address
      = f.label      :address
      = f.text_area  :address
    .checkbox_group.delivers
      = f.check_box  :delivers
      = f.label      :delivers
    .form_input.delivery_fee
      = f.label      :delivery_fee
      = f.text_field :delivery_fee
    .form_input.tip_percent
      = f.label      :tip_percent
      = f.text_field :tip_percent
    .form_input.discount_percent
      = f.label      :discount_percent
      = f.text_field :discount_percent
    .form_input.note
      = f.label      :note
      = f.text_area  :note
    .buttons
      = f.submit

    - unless @restaurant.new_record?
      .right
        = link_to "Remove Restaurant", @restaurant, :confirm => 'Are you sure?', :method => :delete
