- title "Restaurants"

.right
  %p.clear
    Note: Global ratings aren't updated til you reload. Sorry bout that

  %hr/  

%table.horizontal.restaurants.has_ratings
  %tr
    %th.td_7=           link_to('Name', restaurants_path( :order => 'name'))
    %th.td_3            Phone      
    %th.td_4            Links      
    %th.td_1=           link_to('ago',  restaurants_path( :order => 'ago'))
    %th.td_1=           link_to('freq', restaurants_path( :order => 'freq'))
    %th.td_3=           link_to('Your Rating', restaurants_path( :order => 'my_rating'))
    %th.td_3
      %span= link_to('Overall Rating', restaurants_path( :order => 'all_rating'))
      %span.right#show_rating_details <a href="#">&raquo;</a>
    %th.rating_details{ :style => 'display:none' } details
  - for restaurant in @restaurants
    %tr
      %td=              link_to_rsrc restaurant
      %td.phone=        restaurant.phone
      %td.url=          restaurant_links(restaurant)
      %td.since=        restaurant.days_since_last_ordered
      %td.frequency=    restaurant.frequency
      %td.ratings=      ratings_for restaurant, :show_user_rating => true
      %td.ratings=      ratings_for restaurant, :static
      %td.rating_details{ :style => 'display:none' }
        -# = restaurant.avg_price && number_to_currency(restaurant.avg_price)
        -# %br/
        - restaurant.rates.order('stars DESC').each do |rating|
          %span{ :title => rating.rater.name }= rating.stars

.buttons
  = link_to "New Restaurant", new_restaurant_path, :class => 'button'
= link_to "City of Austin Restaurant Inspection Sscores", "/restaurants/inspection_scores"
