- title "Restaurants"

%table.horizontal
  %tr
    %th.td_7    Name
    %th         Phone
    %th         Delivers?
    %th         &nbsp;
    %th         &nbsp;
    %th         &nbsp;
  - for restaurant in @restaurants
    %tr
      %td= link_to_rsrc restaurant
      %td= restaurant.phone
      %td= restaurant.delivers ? 'Y' : ''
      %td= link_to 'website', restaurant.url
      %td= link_to 'menu',    restaurant.menu_url
      %td= link_to 'review',  restaurant.review_url

.buttons= link_to "New Restaurant", new_restaurant_path(restaurant), :class => 'button'
