- title 'Lunchlady: mmmm....', ''
- @meal  = Meal.current

.section
  - if user_signed_in?
    - if @meal.restaurant
      %h2{ :style => 'margin: 1em 0' } Today's Order

      %h3
        Hooray!
        = link_to "Today's Meal", @meal
        is from 
        = link_to_rsrc @meal.restaurant
        == ~~
        = restaurant_links(@meal.restaurant)

      %hr/
      - @order = @meal.orders.for_user(current_user).first || @meal.orders.build(:user_id => current_user.id)
      = render :partial => '/orders/form', :locals => { :freeze_user_id => true }
    - else
      Are you the designated lunchmeister?
      = link_to "Choose today's restaurant", edit_meal_path(@meal)

  - else
    .buttons= link_to 'Sign in', new_user_session_path, :class => 'button'
    == or #{link_to 'Sign up', new_user_registration_path} to place an order

  %hr.spacer/

  %h2{ :style => 'margin: 1em 0' } Upcoming Meals
  
  = render '/orders/user_orders', :meals => (@meals = Meal.upcoming(45))
  -# = render '/meals/meals', :meals => (@meals = Meal.upcoming)
