- title 'Lunchlady: mmmm....'
- @meal  = Meal.current

.section
  - if user_signed_in?
    - if @meal.restaurant
      - @order = @meal.orders.for_user(current_user).first || @meal.orders.build(:user_id => current_user.id)
      = render :partial => '/orders/form', :locals => { :freeze_user_id => true }
    - else
      Are you the designated lunchmeister?
      = link_to "Choose today's restaurant", edit_meal_path(@meal)
        
  - else
    .buttons= link_to 'Sign in', new_user_session_path, :class => 'button'
    == or #{link_to 'Sign up', new_user_registration_path} to place an order

  %hr/

  = render :partial => '/meals/meals', :object => Meal.upcoming


        
