- title 'AppName'

.section

  %table.meals
    - Meal.upcoming.each do |meal|
      %tr.meal
        %td= meal.day_name
        %td= link_to_rsrc meal
        %td= meal.restaurant_name

  %ul
    - %w[restaurants users meals meals ].each do |model|
      %li== <a href="#{model}">#{model}</a>
