!!! 5
-ie_html :class => 'no-js' do
  = render :partial => 'layouts/head'
  %body{ :lang => 'en', :class => "#{controller.controller_name}" }
    #container
      %header#header
        = render :partial => 'layouts/header'
      %nav#nav
        = render :partial => 'layouts/nav'
      = render :partial => 'layouts/flashes'
      #main{ :role => 'main' }
        = yield
      %footer#footer
        = render :partial => 'layouts/footer'
    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'
